@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000');

:root {
  --color-primary: #249552;
  --color-secondary: #2A292B;
  --color-text: #454448;
  --color-light: #BCBBBE;
  --color-white: #ffffff;
  --color-red: #D72E2B;
  --color-green-light: #C1F1D4;
  --color-green-dark: #092A18;
  
  --font-primary: 'Nunito Sans', sans-serif;
  --font-title: 'Black Han Sans', sans-serif;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --spacing-xs: 8px;
  --spacing-sm: 15px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 50px;
  --spacing-xxl: 60px;
}

* {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  background: var(--color-white);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 4872px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  align-items: center;
  width: 100%;
  max-width: 1440px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 204px;
}

.hero-title {
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--font-title);
  font-size: 90px;
  line-height: 120%;
}

.pepper-drops-into-water-1 {
  width: 100%;
  object-fit: cover;
}

.hero-subtitle {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: center;
}

.hero-subtitle .body-text {
  text-align: center;
}

.content-section {
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2075px;
}

.seperator,
.seperator2 {
  background: #DBDBDC;
  width: 100%;
  height: 1px;
  position: relative;
  max-width: 1312px;
  margin: 0 auto;
}

/* Weekly Meal Planner Section */
.content-container-1 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.number {
  color: var(--color-primary);
  font-family: var(--font-regular);
  font-size: 16px;
  line-height: 150%;
}

.h-1 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 28px;
  line-height: 99.33%;
  letter-spacing: -0.11px;
}

.card-container-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 34px;
}

.left-card-container {
  display: flex;
  gap: var(--spacing-md);
}

.card-1,
.card-2,
.card-3 {
  border-radius: 30px;
  padding: var(--spacing-lg) var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 191px;
  height: 484px;
}

.card-1 {
  background: var(--color-green-dark);
}

.h-12 {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 21px;
  line-height: 103.33%;
  letter-spacing: 0.11px;
}

.h-13 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 21px;
  line-height: 103.33%;
  letter-spacing: 0.11px;
} 

.card-2 {
  background: var(--color-primary);
}

.card-3 {
  background: var(--color-green-light);
}

.card-1 .body-text,
.card-2 .body-text{
  color: var(--color-white);
}

.meal-plan-preview {
  border-radius: 30px;
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 639px;
  height: 484px;
}

.card-container-01-title {
  display: flex;
  flex-direction: column;
  gap: 60px; 
  align-items: center;
} 

.h-14 {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 28px;
  line-height: 103.33%;
  letter-spacing: 0.11px;
  text-align: center;
}

.card-container-01-title .body-text {
  color: var(--color-white);
}

.content-container-2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.card-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 144px;
}

.steak-preview {
  border-radius: 30px;
  width: 640px;
  height: 270px;
  object-fit: cover;
}

.steak-container {
  width: 526px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.steak-title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  }

.rating-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  }
  
.price-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
   align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  }

.price {
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: 28px;
  line-height: 101.67%;
  letter-spacing: 0.03px;
  position: relative;
  }

.sale-tag {
  background: #d72e2b;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  }
.sale-tag-text {
  color: var(--color-white);
  text-align: left;
  font-family: 'NunitoSans', sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 111%;
  letter-spacing: 0.27px;
  position: relative;
  }

.cta-btn2 .body-text {
  color: var(--color-red);
}

.content-container-3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
}

.card-container-3 {
  border-radius: 30px;
  padding: var(--spacing-lg);
  height: 285px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container-03-title {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.card-container-03-title .body-text {
  color: var(--color-white);
}

.review-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--spacing-lg);
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-xl);
}
.review-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
} 

.review-sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.h-18 {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 21px;
}

.h-2 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: 28px;
}

.h-2-regular {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 21px;
}

.body-text {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 111%;
  letter-spacing: 0.27px;
}

.cta-btn,
.cta-btn2,
.cta-btn3 {
  border-radius: 75.53px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn {
  border: 1.26px solid var(--color-white);
  width: 160px;
}

.cta-btn:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.cta-btn:hover .body-text {
  color: var(--color-secondary);
}

.cta-btn2 {
  border: 1.26px solid var(--color-red);
  width: 184px;
}

.cta-btn2:hover {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.cta-btn2:hover .body-text {
  color: var(--color-white);
}

.cta-btn3 {
  border: 1.26px solid var(--color-secondary);
  width: 160px;
}

.cta-btn3:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.cta-btn3:hover .body-text {
  color: var(--color-white);
}

.cta-btn:hover,
.cta-btn2:hover,
.cta-btn3:hover,
.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .hero-section {
    padding: 0;
  }
}

