.footer {
  width: 100%;
  background: #2A292B;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.footerContainer {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  padding: 40px 40px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  width: 298px;
}

.logo {
  width: 192px;
  height: 72px;
}

.socialMediaIcons {
  display: flex;
  gap: 24px;
}

.socialMediaIcons img {
  width: 50px;
  height: 50px;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.quickLinks {
  color: #ffffff;
  font-family: 'NunitoSans-Bold', sans-serif;
  font-size: 21px;
  line-height: 103.33%;
  letter-spacing: 0.11px;
  font-weight: 700;
}

.footerLink {
  color: #BCBBBE;
  text-decoration: none;
  font-family: 'NunitoSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 106.33%;
  letter-spacing: 0.2px;
  display: block;
  margin-bottom: 24px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 340px;
}

.contactText {
  color: #ffffff;
  font-family: 'NunitoSans-Bold', sans-serif;
  font-size: 21px;
  line-height: 103.33%;
  letter-spacing: 0.11px;
  font-weight: 700;
}

.contactForm {
  display: flex;
  gap: 12px;
}

.emailInput {
  border: 0.88px solid #BCBBBE;
  padding: 9px 13px;
  background: transparent;
  color: #DCDCDC;
  width: 252.25px;
  height: 47.46px;
  font-family: 'NunitoSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 112.33%;
  letter-spacing: 0.2px;
}

.contactButton {
  background: #ffffff;
  border-radius: 4.39px;
  width: 126.57px;
  height: 49.22px;
  border: none;
  cursor: pointer;
  color: #2A292B;
  font-family: 'NunitoSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 111%;
  letter-spacing: 0.27px;
}
