.navbar {
  padding: 16px 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  width: 192px;
  height: 72px;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 480px;
}

.navLink {
  color: #2A292B;
  text-align: left;
  font-family: 'NunitoSans-Medium', sans-serif;
  font-size: 21px;
  line-height: 106.33%;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-decoration: none;
}

.loginBtn {
  border-radius: 75.53px;
  border: 1.26px solid #249552;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 24.49px;
  align-items: center;
  justify-content: center;
  width: 192px;
  background: transparent;
  cursor: pointer;
}

.login {
  color: #249552;
  text-align: left;
  font-family: 'NunitoSans-Medium', sans-serif;
  font-size: 16px;
  line-height: 111%;
  letter-spacing: 0.27px;
  font-weight: 500;
}
