.IGrkypdOOu,
.ss1D6AkttG,
.XMKf4gMwmG,
.jRsgCfXkxQ {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.IGrkypdOOu {
  width: 480px;
  gap: 45px;
}

.ss1D6AkttG {
  width: 100%;
  gap: 6px;
}

.XMKf4gMwmG {
  width: 100%;
  gap: 30px;
}

.m0Zw1mYbzQ {
  padding: 11.16px 0px 11.16px 11.16px;
  width: 100%;
  font-size: 16px;
  border-radius: 11.16px;
  opacity: 1;
  box-sizing: border-box;
  border: 1.12px solid #bcbbbe;
}

.LX0ja9IV4T {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.jRsgCfXkxQ {
  width: 100%;
  gap: 28px;
}

.oslgl2tBvI {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.h66zTSQaMB {
  padding: 4.46px 22.31px;
  height: 42px;
  border-radius: 11.16px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  border: 1.12px solid #bcbbbe;
}

.fKUKncA48E {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #2a292b;
}
