.sign_form,
.sign_form0,
.sign_form1,
.sign_form4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.sign_form {
  width: 480px;
  gap: 45px;
}

.sign_form0 {
  width: 100%;
  gap: 6px;
}

.sign_form1 {
  width: 100%;
  gap: 30px;
}

.sign_form2 {
  padding: 11.16px 0px 11.16px 11.16px;
  width: 100%;
  font-size: 16px;
  border-radius: 11.16px;
  opacity: 1;
  box-sizing: border-box;
  border: 1.12px solid #bcbbbe;
}

.sign_form3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.sign_form4 {
  width: 100%;
  gap: 28px;
}

.sign_form5 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.sign_form6 {
  padding: 4.46px 22.31px;
  height: 42px;
  border-radius: 11.16px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  border: 1.12px solid #bcbbbe;
}

.sign_form7 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #2a292b;
}
